.todo {
	&-block {
		display: block;
		margin:auto;
		padding: 20px;
		& > [type="button"] {
			display: block;
			margin-left:auto;
		}
	}
	&-list {
		// display: flex;
	 //    flex-direction: column;
	 	display:grid;
	 	grid-template-columns:auto;
	 	grid-template-rows: auto;
	 	// grid-row-gap: 10px;
	    list-style-type: none;
	    padding: 0;
	    border-radius:5px;
	    overflow: hidden;
		background-color:hsl(0, 0%, 94%);
		cursor:pointer

	}
	&-item {
		display:grid;
	 	grid-template-columns: 10fr 1fr;
	 	align-items: center;
	 	padding: 0 20px;
	 	transition: all .3s;
		&:hover {
			background-color: hsl(14, 100%, 58%);
		}
		input {
			// min-height: 40px;
			padding: 12px;
			font-size: 21px;
		}
		// display: flex;
		// flex-direction: row;
		// justify-content: space-between;
		// flex-wrap: nowrap;
	}
}
